.logo-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1168px;
  width: 100%;
  min-height: 158px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
